/* .asseenon-img
{
    width: 100%;
    height: 50px;
} */

.asseenon-section {
  background-color: #fff;
  overflow-x: hidden;
}

.asseenon-scroll {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

/* For Webkit (Chrome, Safari) */
.asseenon-scroll::-webkit-scrollbar {
  height: 6px;
}

.asseenon-scroll::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.asseenon-img {
  height: 40px;
  flex-shrink: 0;
}

.asseenon-label {
  white-space: nowrap;
  margin-bottom: 0;
  margin-right: 2px;
  flex-shrink: 0;
}

