/* ===== Registered Dealers ====== */

/* .normalTab-signIn
{
    border: 2px solid var(--blue-200);
} */

.activeTab-btn:hover,.normalTab-btn:hover 
{
  transform: none !important;
}

.normalTab-signIn:hover 
{
  color: black;
}
