.offerform-card
{
    background-color: var(--card-color);
    width: 100%;
}

.tab-btn
{
    background-color: #F7F7F7;
    color: #21212180;
    border: none;
    padding: 20px;
    font-weight: 900;
    font-size: 20px;
}

@media (max-width: 490px) 
{
   .tab-btn
   {
     font-size: 18px;
     padding: 15px;
   } 
}

@media (max-width: 440px) 
{
   .tab-btn
   {
     font-size: 16px;
   } 
}

@media (max-width: 400px) 
{
   .tab-btn
   {
     font-size: 14px;
   } 
}

@media (max-width: 360px) 
{
   .tab-btn
   {
     font-size: 12px;
   } 
}

.tab-btn:hover
{
    color: #212121;
}

.tab-btn.active
{
    background-color: #212121;
    color: white;
}

/* .form-content
{
    max-height: 300px;
    height: 100%;
} */

.instant-offer-btn
{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}