.answers
{
    padding-right: 120px;
}

@media (max-width: 768px)
{
    .answers
    {
        padding-right: 16px;
    }
    .heading
    {
        padding-left: 16px;
    }
}

.line-btn
{
    position: fixed;
    bottom: 70px;
    right: 15px;
    width: 57%;
    height: 1px;
    background-color: #dee2e6;
}

@media (max-width: 992px) 
{
    .line-btn
    {
         width: 97%;
    }
}

.step-footer 
{
  position: fixed;
  bottom: 0;
  right: 0.8%;
  width: 56.4%;
  padding: 16px 24px;
  background-color: #fff;
  border-top: 1px solid #dee2e6; /* Bootstrap border color */
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 1000;
}

@media (max-width: 992px)  
{
    .step-footer 
    {
         width: 100%;
         left: 1.3%;
         right: 0.8%;
    }
}

@media (max-width: 576px)  
{
    .step-footer 
    {
        justify-content: center;
        left: 0;
    }
}

.textBox-card
{
    padding: 40px 80px 64px;
}

@media (max-width: 480px)
{
   .textBox-card
    {
        padding: 20px;
    }
}

