/* Body - Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*Title - Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Title - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*
{
    font-family: "Nunito Sans", sans-serif;
}

/* ========== Primary Color =============*/
.primary-title
{
  font-family: "Inter", sans-serif;
  color: var(--primary-title);
  text-align: center;
  font-size: clamp(25px, 1.67vw + 19.65px, 35px);
  font-weight: 900;
}

.primary-second-title
{
  color: #15803d;
  font-weight: bold;
  font-size: 20px;
}

.primary-title-color
{
  color: var(--primary-title);
}

.primary-color
{
  color: var(--primary-color);
}

.card-bg
{
  background-color: var(--card-bg);
}

.navbar-bg
{
  background-color: var(--primary-color);
}

.primary-border
{
  border: 1px solid var(--primary-title);
}

.primary-color-100
{
  background-color: var(--primary-color-100);
}

/* Secondary Color */
.secondary-color
{
  color: var(--secondary-color);
}

.secondary-bg
{
  background-color: var(--secondary-color);
}

.secondary-border
{
  border: 1px solid var(--secondary-color);
}

.card-bg-secondary
{
  background-color: var(--card-bg-secondary);
}

.secondary-color-100
{
  background-color: var(--secondary-color-100);
}

.secondary-outline-btn
{
  background-color: var(--card-bg);
  border-radius: 50rem;
  color: var(--secondary-color);
  font-weight: 900;
  text-decoration: none;
}


/* Button */
.primary-btn
{
  background-color: #16a34a;
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 50rem;
  text-decoration: none;
}

.secondary-btn
{
  background-color: #172050;
  color: #25d466;
  border: none;
  font-weight: 900;
  font-size: 20px;
  border-radius: 50rem;
}



.common-btn
{
   background-color: #ffd94f;
   border-radius: 50rem;
   border: none;
   font-weight: 900;
   font-size: 22px;
   font-family: "Bebas Neue", sans-serif;
}

.common-btn:hover
{
  background-color: #F5C617;
}

/* Form */
.form-control:focus 
{
  box-shadow: none;
  outline: none;
  border-color: var(--secondary-color); /* Optional: same as default border */
}


/* Others Common */
.cursor-pointer
{
  cursor: pointer;
}