body
{
  /* font-family: "Montserrat", sans-serif; */
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* common-btn */
.common-btn
{
  text-decoration: none;
  border-radius: 10px;
}


/* ========== Primary Color =============*/
.title
{
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: clamp(35px, 1.67vw + 19.65px, 45px);
  font-weight: 900;
  text-transform: uppercase;
}

.primary-second-title
{
  color: #15803d;
  font-weight: bold;
  font-size: 20px;
}

.primary-title-color
{
  color: var(--primary-title);
}

.card-bg
{
  background-color: var(--card-bg);
}

.primary-border
{
  border: 1px solid var(--primary-title);
}

.primary-color-100
{
  background-color: var(--primary-color-100);
}

/* Secondary Color */
.secondary-color
{
  color: var(--secondary-color);
}

.secondary-bg
{
  background-color: var(--secondary-color);
}

.secondary-border
{
  border: 1px solid var(--secondary-color);
}

.card-bg-secondary
{
  background-color: var(--card-bg-secondary);
}

.secondary-color-100
{
  background-color: var(--secondary-color-100);
}

.secondary-btn
{
  background-color: var(--secondary-color);
  border-radius: 50rem;
  color: white !important;
  font-weight: 900;
  text-decoration: none;
}

.secondary-outline-btn
{
  background-color: var(--card-bg);
  border-radius: 50rem;
  color: var(--secondary-color);
  font-weight: 900;
  text-decoration: none;
}


/* Button */
.primary-btn
{
  background-color: var(--primary-btn);
  color: white;
  border: none;
  font-weight: 900;
  border-radius: 50rem;
  text-decoration: none;
}

.secondary-btn
{
  background-color: #172050;
  color: #25d466;
  border: none;
  font-weight: 900;
  font-size: 20px;
  border-radius: 50rem;
}

/* Form */
.form-control:focus 
{
  box-shadow: none;
  outline: none;
  border-color: var(--secondary-color); /* Optional: same as default border */
}

.form-select:focus
{
  border: 2px solid  var(--secondary-color);
  outline: none;
  box-shadow: none;
}

input[type="checkbox"].form-check-input:checked 
{
  background-color: var(--secondary-color); /* Change this to your desired color */
  border-color: #28a745;
  box-shadow: none;
  outline: none;
}


/* Others Common */
.cursor-pointer
{
  cursor: pointer;
}