.bold-900
{
    font-weight: 900;
}

.pop-up
{
    position: fixed;
    top: 5%;
    left: 25%;
    width: 100%;
    height: 100%;
}

.pop-up-card
{
    max-width: 320px;
    width: 500px;
}

@media (max-width: 576px) 
{
    .pop-up
    {
        top: 5%;
        left: 3%;
    }
}